.comment_container{
    display: grid;
    grid-template-columns: 7% 93%;
    h5{
        margin-bottom: 5px;
        span{
            color:#7f8c8d;
            font-weight: 200;
        }

    }
    &_end{
        @include flexBox(center,flex-start);
        .css-i4bv87-MuiSvgIcon-root, .a{
            font-size: 15px;
            color:#7f8c8d;
            margin-right: 10px;
        }
    }
    
}